<div class="user-name">
  <% post.comments.each do |comment| %>
    <%= comment.user.user_name %>
  <% end %>  
</div>
<div class="comment-content">
  <%= comment.content %>
  <% if comment.user == current_user %>
    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
      <span class="glyphicon glyphicon-remove delete-comment"</span>
    <% end %>
  <% end %>
</div>